body {
  font-family: 'Montserrat', sans-serif;
}

body a:hover {
  text-decoration: none;
  opacity: 0.8;
}

.navbar {
	background-color: transparent;
	color:#333333;
}

.nav-link {
  color: black !important;
  font-size: 1.1rem;
  letter-spacing: 1.1px;
  font-weight: 100;
}

#aboutusbody .nav-link {
  color: white !important;
  letter-spacing: 1.1px;
  font-weight: 100;
}

.nav-link:hover {
  opacity: 0.4;
}

.hero-container {
  height: 100vh;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  background-color: #09231C;
}



#hero-image {
  display: block;
  width: 29%;
  margin: auto;
  padding-top: 200px;
}

#hero-headline {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}

#hero-p {
  font-weight: 100;
  font-size: 1.4rem;
  text-align: center;
}


.navbar-toggler button {
  outline: 0;
}

button:focus, button:active {
   outline: none !important;
}

.kontakt-section {
  margin-top: 150px;
  position: relative;
  z-index: 999;
}

.inner-elements {
  margin-top: 150px;
}

.heading {
  text-align: center;
  margin: 40px 0;
  font-size: 3.5rem;
}

.action-form {
  width: 90%;
  margin-left: 50px !important;
  margin: 150px auto 40px auto;
  display: flex;
  flex-direction: row;
}

.action-form .col-sm-6 {
  padding: 0 50px;
}

#form-heading {
  color: #426151;
  font-weight: 700;
  margin-bottom: 25px;
  padding-top: 40px;
  letter-spacing: 1px;
  font-size: 1.25rem;
}

.form-control {
  outline: 0;
  border-width: 0 0 0.2px;
  border-color: #707070 !important;
  border-radius: 0;

}

input:focus {
  border-color: green
}

form {
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.2);
  margin-left: 100px;
  background-color: white;
    z-index: 9999;
}

textarea.form-control {
    height: 200px;
}

.btn-primary {
  color: #367148;
  background-color: white;
  padding: 10px 0px;
  width: 100%;
  border-radius: 0 !important;
  border-color: #367148;
  font-weight: 100;
}

.btn-primary:hover{
  color: white;
  background-color: #367148;
  border-color:white;
}

.form-group-button{
  padding: 40px 0;
}

.inner-form {
  width: 80%;
  margin: auto;
}



.question-section p {
  margin: 20px 0;
  line-height: 25px;
}

.question-section a {
  color: black;
  margin-left: 50px;
  letter-spacing: 2px;
}

#kontakt-hr {
  width: 40%;
  margin: 20px 0;
  background-color: #F399B3;
  border-top: 2px solid #426151 !important;
}

.fa-2x {
  font-size: 2.0rem !important ;
}

.nummer, .mail {
  margin: 20px 0;
}

.sociale-medier .fab {
  color: #F8D489;
  margin: 13px;
}

.sociale-medier {
  margin-bottom: 30px;
  margin-top: 50px;
}

.inner-google-maps {
  width: 86%;
  margin: auto;

}

.inner-google-maps img {
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.4);
  max-width: 100%;
}

.google-maps {
  position: absolute;
  width: 100%;
  top: 788px;
  z-index: 983;
  background-color: #162F28;
  color: white;
}

.google-maps h2 {
  padding-top: 50px;
  padding-bottom: 10px;
}

.address .far {
  color: #F8D489;
  margin: 13px;
}

.address p {
  display: flex;
  align-self: flex-end;
  font-weight: 100;
}

.address {
  margin-bottom: 50px;
}

#googlemaps {
    width: 100%;
    height: 600px;
    background-color: grey;
    margin-top: 70px;
    margin-bottom: 100px;
}

footer {
  padding-top: 100px;
  color: white;
  margin: auto;
  width: 100%;
  background-color: #272727;
}

footer .col-md-4 {
    padding-left: 105px;
    padding-bottom: 50px;
}




footer p {
  font-weight: 100;
  font-size: 0.9rem;

}

#menu img {
  width: 100%;
}


.font-weight-bold {
  font-weight: 600 !important;
    letter-spacing: 1.5px !important;
}

.font-weight-bold a {
  padding-left: 10px;
  color: white;
  font-weight: 100 !important;
}

footer h5 {
  margin-bottom: 20px;
}








footer .fab {
  padding-right: 15px;
  font-size: 2.6em;
  color: white !important;
}

.contact {
  width: 60%;
  margin: auto;
}

.contact p {
  margin-right: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}

.contact a {
  font-weight: 100;
  color: white;
}



footer .row {
  margin-left: 0 !important;
}

#copyright {
  text-align: center;
  margin-bottom: 0 !important;
  padding-bottom: 10px;
  font-size: 0.7em;
}

.opening-hours {

}

.menu-navigation {

}

.menu-navigation .row {
  margin-left: 0 !important;
}

.menu-navigation li {
  padding: 0 22px;
}

body .row {
margin-left: 0;
margin-right: 0;
}

.type {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1.5px lightgrey;
}

.type p {
  margin-bottom: 0;
}

.option {
  margin-bottom: 30px;
}

.special {
  font-weight: 100;
  font-style: italic;
  margin-top: 10px;
}

.description {
  font-weight: 100;
  font-style: italic;
  margin: 30px 0;
  line-height: 35px;
}

.category-heading h1 {
  text-align: center;
  width: 100%;
  color: grey;
  margin-bottom: 150px;
}

.mad-billede {
  margin-left: 70px;
}

#menu {
  margin-top: 100px;
  max-width: 1300px;
}

#menu .row {
  width: 100%;
}
.variant {
  margin-bottom: 150px;
}

.menu-navigation {
  padding-right: 0 !important;
  margin: auto;
    padding: 0 20px;

}

.menu-navigation .row {
  display: flex;
  justify-content: space-around;
}

.menu-navigation .row ul {
  padding-left: 0;
}

.menu-navigation .row ul button{
  margin: 0 10px;
  background-color: transparent;
    outline: 0;
    border: none;
}

.menu-navigation .row ul button:hover{
  opacity: 0.6;
}

.subheading {
  font-size: 2.2rem;
}


.heading-about {
  margin-top: 50px;
}

.aboutus-img img{
  width: 100%;
}

.aboutustext{
  text-align: justify;
  margin-bottom: 50px;
  line-height: 35px;
}

.aboutustext h2 {
  margin-bottom: 20px;
}


.mowmenticons .fab {
  padding: 0 10px;
  color: #272727;
}

.mowmenticons {
  width: auto;
  margin: auto;
}

#omos img {
  margin-bottom: 100px;
}

#omos {
  margin-bottom: 150px;
}

#instagram #instafeed {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#instagram {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

figure .instagram {
  width: 300px;
  height: 300px;
  margin: 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

video {
   object-fit: fill;
      width: 100%;
      height: 100vh;
      box-sizing: border-box;

  transform: scale(1.2);
}

.text {
  position: absolute;
  top: 30%;
  color: white;
  text-align: center;
  width: 100%;
}

#premise {
  font-style: italic;
}

#promise {
  font-weight: 600;
  letter-spacing: 4px;
}

.text  img{
  width: 30%;
}

.text p {
  font-size: 1.8rem;
  font-weight: 100;
  padding: 0 20px;
}

.backgroundcolor {
  background-color: #09231C;
}

.navcolor {
  color: white !important;
}

#videolarge {
  display: block;
}

#videomedium {
  display: none;
}

#videosmall {
  display: none;
}



.kundeanmeldelelser{
  display: flex;
  max-width: 900px;
  flex-direction: row;
  margin: auto;
  padding-bottom: 100px;
}

.kundeanmeldelelser p {
  line-height: 30px;
  font-size: 0.9rem;
  color: white;
  font-weight: 100;
  font-style: italic;
}

.bookingform {
  box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.2);
    background-color: white;
    max-width: 1200px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 90px;
}

.numofpeop {
  background: white;
    border: none;
    width: 100%;
    color: gray;
}

#call2action {
  background-color: #EFCD5C;
}

/* ---- MEDIA QUERIES ---- */

@media (width: 375px) {

  .action-form {
      width: 0%;
  }

}

@media (width: 768px) {
  .inner-form {
  width: 79%;
  margin: auto;
}

  #videomedium {
    display: block;
  }

  #videolarge {
    display: none;
  }

  #videosmall{
    display: none;
  }
  .action-form .col-sm-6 {
      padding: 0px 38px;
  }


  form {
    margin-left: 0;
      margin-top: 40px;
  }

.google-maps {
      top: 900px;
}


}


@media (max-width: 576px) {
  .action-form {
    margin-left: 0px !important;
  }


  #videomedium {
    display: none;
  }

  #videolarge {
    display: none;
  }

  #videosmall{
    display: block;
  }

  .text h1{
   font-size: 2rem;
 }

 .text p {
   padding-top: 10px;
   font-size: 1rem;
 }

 .action-form {
   margin: 0;
 }

 .question-section {
    text-align: start;
}

.action-form {
    width: 100%;
}

form {
  margin-left: 0;
    margin-top: 40px;
}

.google-maps {
  top: 1360px;

  }
}

@media (width: 1024px) {

  #videomedium {
    display: block;
  }

  #videomedium source{
    transform: scale(2.0);
  }


  #videolarge {
    display: none;
  }

  #videosmall{
    display: none;
  }


  form {
    margin-left: 0;
      margin-top: 40px;
  }

  .google-maps {
    top: 850px;

    }

    .inner-form {
    width: 79%;
    margin: auto;
}
}

@media (width: 812px) {
  form {
    margin-left: 0;
  }

  .action-form {

      margin: 0;
  }
}

@media (width: 736px) {
  form {
    margin-left: 0;
  }

  .action-form {

      margin: 0;
  }
}

@media (width: 667px), (width: 823px), (width: 731px), (width: 640px){
  form {
    margin-left: 0;
  }

  .action-form {
      width: 100%;
      margin: 0;
  }

  .google-maps {
    top: 743px;
  }
}
